<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>I'm Bored</title>
</head>

<body>
  <div class="container">
    <h1>Let's find something for you to do ✌️</h1>
    <form action="/" id="form" class="form" method="POST">
      <select name="type" class="form-select">
        <option value="" data-display="Select">Random type</option>
        <option value="education">Education</option>
        <option value="charity">Charity</option>
        <option value="recreational">Recreational</option>
        <option value="relaxation">Relaxation</option>
        <option value="busywork">Busywork</option>
        <option value="social">Social</option>
        <option value="diy">DIY</option>
        <option value="music">Music</option>
        <option value="cooking">Cooking</option>
      </select>
      <!-- <select name="participants" class="form-select">
        <option value="">Any number of people</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select> -->
      <button type="submit" class="form-submit">Go</button>
    </form>
    <section id="cards" class="cards">
      <div class="loading-animation"></div>
      <% if (!locals.error) { %>
      <article class="card-item">
        <h2 class="card-activity">
          <%= data.activity %>
        </h2>
        <div class="card-info">
          <span class="card-type">
            <%= data.type %>
          </span>
          <span class="card-participants">
            participants: <%= data.participants %>
            <span class="card-number"></span>
          </span>
        </div>
      </article>
      <% } %>
      <div id="tag-error" class="tag-error">
        <% if(locals.error) {%>
          <%= error %>
          <% } %>
      </div>
    </section>
  </div>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script>
    $(document).ready( () => {
      $("div.loading-animation").hide();
      $("form").submit( (e) => {
        e.preventDefault();
        $("div.loading-animation").show();
        $("article").hide();
        $("#tag-error").hide();

        var formData = {
          type: $("select[name='type']").val(),
          participants: $("select[name='participants']").val()
        };

        $.ajax({
          type: "POST",
          url: "/",
          data: formData,
          success: (data) => {
            $("div.loading-animation").hide();
            if (data.message != undefined) {
              $("article").hide(500);
              $("#tag-error").show();
              $("#tag-error").html("No activities that match your criteria.");
            } else {
              $("#tag-error").hide();
              $("article").show();
              $("h2.card-activity").html(data.activity);
              $("span.card-type").html(data.type);
              $("span.card-participants").html(`Participants: ${data.participants}`);
            }
          }
        })
      })
    });
  </script>
</body>
</html>